// Base-theme overrides.
@import 'overrides';

// ---------------------------------------------------------------------------------------------------------------------
@mixin fixins-box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin fixins-flex-container() {
  // Under construction...
}

@mixin fixins-form-control() {
  display: block;
  //  width: 100%;

  // Make inputs at least the height of their button counterpart (base line-height + padding + border)
  height: $input-height-base;
  padding: $padding-base-vertical $padding-base-horizontal;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $input-color;

  // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  background: $input-bg none;
  border: 1px solid $input-border;
  border-radius: $input-border-radius;
  @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, .075));
  @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);

  // Customize the `:focus` state to imitate native WebKit styles.
  @include form-control-focus;

  // Placeholder
  @include placeholder;

  // Disabled and read-only inputs
  //
  // HTML5 says that controls under a fieldset > legend:first-child won't be
  // disabled if the fieldset is disabled. Due to implementation difficulty, we
  // don't honor that edge case; we style them as disabled anyway.
  &[disabled], &[readonly], fieldset[disabled] & {
    cursor: not-allowed;
    background-color: $input-bg-disabled;
    opacity: 1; // iOS fix for unreadable disabled content
  }

  // &[disabled], fieldset[disabled] & {
  //   cursor: $cursor-disabled;
  // }

  // Reset height for `textarea`s
  textarea& {
    height: auto;
  }
}

@mixin fixins-opacity($opacity) {
  // IE8 filter
  $opacity-ie: ($opacity * 100);
//  -ms-filter: e(% ("@{fp_alpha}(Opacity='%d')", $opacity-ie));
  filter: alpha(opacity=$opacity-ie);

  -khtml-opacity: $opacity;
  -moz-opacity: $opacity;
  opacity: $opacity;
}

@mixin fixins-placeholder($color) {
  &::-webkit-input-placeholder {
    color: $color;
  }
  &::-moz-placeholder {
    /* Firefox 19+ */
    color: $color;
  }
  &:-moz-placeholder {
    /* Firefox 18- */
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
}

// ---------------------------------------------------------------------------------------------------------------------
// Using for Theme
body {
  html &.admin-menu {
    margin-top: 28px !important;
  }
  html &.adminimal-menu {
    margin-top: 29px !important;
  }
  &.adminimal-menu #admin-menu #admin-menu-wrapper {
    .dropdown li li.expandable a {
      padding-right: 0;
    }
  }
}

a {
  &:hover, &:focus {
    text-decoration: none;
  }
}

button {
  &:hover, &:focus {
    outline: none;
    outline-offset: 0;
  }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: 1.3;
  .field-name-title & {
    margin-top: 0;
  }
}

h2, .h2 {
  &.element-invisible {
    margin: 0;
  }
}

h4, .h4 {
  .views-field & {
    margin: 0;
  }
}

p {
  font-family: inherit;
  font-weight: normal;
}

div.contextual-links-wrapper {
  font-family: "Lucida Grande", Verdana, sans-serif;
  font-size: 12px;
}

input[type="checkbox"] {
  float: left;
}

.footer {
  border-top: none;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}

.btn {
  &:focus, &:active:focus, &.active:focus {
    outline: none;
    outline-offset: 0;
  }
}

.container-inline {
  div.insert-style-select {
    display: inline-block;
  }
}

.form-control {
  width: auto;
  &.ctools-auto-submit-processed {
    width: 100%;
  }
  &.form-file {
    height: 36px;
    margin-bottom: 2px;
  }
}

.form-email {
  @include fixins-form-control;
}

.form-managed-file {
  .input-group-btn {
    .btn.form-submit {
      height: 36px;
    }
  }
}

.form-radios {
  padding-left: 25px;
}

.form-required {
  color: $brand-danger;
  font-weight: 700;
}

.form-type-checkbox {
  padding-left: 25px;
  label {
    padding-left: 0;
  }
}

.input-group-btn {
  vertical-align: top;
}

.list-inline {
  margin-left: 0;
}

.panel-title {
  font-weight: 700;
}

.table {
  thead, tbody, tfoot {
    tr {
      th, td {
        border-top: none;
      }
    }
  }
}

.tabs-left, .tabs-right {
  & > .tab-content {
    background-color: #FFF;
  }
}

.views-exposed-form {
  .bef-select-as-checkboxes {
    @include fixins-box-shadow(none);
    border: none;
    height: auto;
    width: auto;
  }
}

.views-table {
  img[alt~="sort"] {
    vertical-align: baseline;
  }
}

// ---------------------------------------------------------------------------------------------------------------------
// Using for Modules
fieldset.ief-entity-fieldset {
  margin-bottom: 15px;
}

.colorbox {
  &-load:focus, &-inline:focus {
    outline: none;
  }
}

.facebook-comments-box {
  .fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
    width: 100% !important;
  }
}

.flippy {
  li {
    display: inline-block;
  }
}

.geolocation-address {
  .form-type-textfield {
    clear: left;
    float: none;
  }
}

.geolocation-client-location {
  white-space: nowrap;
}

.geolocation-help {
  clear: left;
  margin: 0;
}

.geolocation-map {
  margin: 0;
}

.ief-entity-operations {
  .btn {
    margin: 2px;
  }
}

.quicktabs-tabs {
  padding-left: 0;
}

.shs-select {
  @include fixins-form-control;
  margin-right: 4px;
}

.shs-term-add-new-wrapper {
  input {
    @include fixins-form-control;
  }
}

.syntaxhighlighter {
  table {
    tr {
      font-size: 15px !important;
    }
  }
  .toolbar {
    display: none;
  }
}

.vbo-views-form {
  #edit-select {
    .panel-body {
      display: block;
    }
  }
}

.views-slideshow-cycle-main-frame {
  &, &-row {
    width: 100% !important;
  }
}

.views-slideshow-pager-field-item {
  cursor: pointer;
  display: inline-block;
}

// ---------------------------------------------------------------------------------------------------------------------
