@font-face {
  font-family: blackitalic;
  src: url(../fonts/ROBOTO-BLACKITALIC_0.TTF) format('woff');
  font-style: normal;
  //  font-weight: 400;
}

@font-face {
  font-family: bold;
  src: url(../fonts/ROBOTO-BOLD_0.TTF) format('woff');
  font-style: normal;
  //  font-weight: 400;
}

@font-face {
  font-family: bolditalic;
  src: url(../fonts/ROBOTO-BOLDITALIC_0.TTF) format('woff');
  font-style: normal;
  //  font-weight: 400;
}

@font-face {
  font-family: black;
  src: url(../fonts/ROBOTO-BLACK_0.TTF) format('woff');
  font-style: normal;
  //  font-weight: 400;
}

@font-face {
  font-family: italic;
  src: url(../fonts/ROBOTO-ITALIC_0.TTF) format('woff');
  font-style: normal;
  //  font-weight: 400;
}
@font-face {
  font-family: light;
  src: url(../fonts/ROBOTO-LIGHT_0.TTF) format('woff');
  font-style: normal;
  //  font-weight: 400;
}
@font-face {
  font-family: regular;
  src: url(../fonts/ROBOTO-REGULAR_0.TTF) format('woff');
  font-style: normal;
  //  font-weight: 400;
}