// Fixins variables, functions and library for base-theme overrides.
@import 'fonts';

#preface {
  float: left;
  width: 100%;
  position: relative;
  overflow: hidden;
  .preface {
    margin: 0 auto;
  }
}

#preface .views-slideshow-controls-bottom {
  float: left;
  margin: -100px 0 0px 0;
  position: relative;
  width: 100%;
  z-index: 10;
  .views-slideshow-pager-fields{
  }
}

#preface .views_slideshow_pager_field_item .views-content-counter {
  background: url("../images/slide.png") no-repeat scroll 0 0 transparent;
  cursor: pointer;
  float: left;
  height: 20px;
  width: 20px;
  margin-left: 10px;
}

#preface .views_slideshow_pager_field_item.active  .views-content-counter {
  background: url("../images/slide-ac.png") no-repeat scroll 0 0 transparent;
  cursor: pointer;
  float: left;
  height: 20px;
  width: 20px;
}

#preface .views-content-counter {
  padding-left: 4px;
  font-size: 0;
}

.services-front{
  h2{
    font-family: regular;
    font-size: 75px;
    color: #909090;
  }
  .view-header span{
    font-family: regular;
    font-size: 27px;
    color: #909090;
  }
  .views-field-title{
    margin-bottom: 10px;
    a{
      font-family: light;
      font-size: 27px;
      color: #666;
    }
  }
  .views-field-field-description{
    font-family: light;
    font-size: 20px;
    color: #666;
  }
}

.libraries{
  h2{
    font-family: regular;
    font-size: 72px;
    color: #fff;
  }
  ul.quicktabs-tabs li.active{
    background-image: url("../images/buttum-ac.png") !important;
  }

  ul.quicktabs-tabs li.active a{
    color: #283891 !important;
  }

}