@charset "UTF-8";
@font-face {
  font-family: blackitalic;
  src: url(../fonts/ROBOTO-BLACKITALIC_0.TTF) format("woff");
  font-style: normal; }
@font-face {
  font-family: bold;
  src: url(../fonts/ROBOTO-BOLD_0.TTF) format("woff");
  font-style: normal; }
@font-face {
  font-family: bolditalic;
  src: url(../fonts/ROBOTO-BOLDITALIC_0.TTF) format("woff");
  font-style: normal; }
@font-face {
  font-family: black;
  src: url(../fonts/ROBOTO-BLACK_0.TTF) format("woff");
  font-style: normal; }
@font-face {
  font-family: italic;
  src: url(../fonts/ROBOTO-ITALIC_0.TTF) format("woff");
  font-style: normal; }
@font-face {
  font-family: light;
  src: url(../fonts/ROBOTO-LIGHT_0.TTF) format("woff");
  font-style: normal; }
@font-face {
  font-family: regular;
  src: url(../fonts/ROBOTO-REGULAR_0.TTF) format("woff");
  font-style: normal; }
body {
  font-family: light; }

#block-views-khach-hang-cua-chung-toi-block {
  text-align: center; }
  #block-views-khach-hang-cua-chung-toi-block .view-content > div {
    float: left;
    margin: 1px; }

#block-bean-lien-he {
  text-align: center;
  background: url("../images/imgo.jpg");
  background-size: cover;
  width: 100%;
  color: #fff; }
  #block-bean-lien-he:after {
    display: none; }
  #block-bean-lien-he .geolocation-map {
    margin-bottom: 0px; }

#block-block-3 {
  text-align: center;
  background: url("../images/imgo.jpg") bottom;
  background-size: cover;
  width: 100%; }
  #block-block-3 .block-title {
    color: #fff; }
  #block-block-3 .block-content {
    width: 133px;
    text-align: center;
    margin: 0px auto; }
    #block-block-3 .block-content p {
      float: left;
      padding: 0px 5px; }

#block-block-1 {
  background: url("../images/thanh-footer.png");
  text-align: center; }
  #block-block-1 .block-title {
    display: none; }

#node-44 {
  background: #F5F5F5;
  padding-bottom: 30px; }
  #node-44 .content {
    width: 1100px;
    margin: 0px auto; }

#block-views-order-block, #block-views-order-block-1, #block-views-order-block-2 {
  width: 1100px;
  margin: 0px auto; }
  #block-views-order-block .block-title, #block-views-order-block-1 .block-title, #block-views-order-block-2 .block-title {
    text-align: center; }
  #block-views-order-block .view-content, #block-views-order-block-1 .view-content, #block-views-order-block-2 .view-content {
    margin-bottom: 24px;
    margin-top: 60px; }
  #block-views-order-block .views-row, #block-views-order-block-1 .views-row, #block-views-order-block-2 .views-row {
    width: 33.2%;
    float: left;
    overflow: hidden;
    text-align: center;
    padding: 0px;
    background-color: #fff;
    border: 1px solid #e4e4e4; }
    #block-views-order-block .views-row h3, #block-views-order-block-1 .views-row h3, #block-views-order-block-2 .views-row h3 {
      margin-bottom: 0px;
      border-bottom: 1px solid #e4e4e4;
      padding-bottom: 20px;
      color: #27ccc0;
      font-size: 26px; }
    #block-views-order-block .views-row h4, #block-views-order-block-1 .views-row h4, #block-views-order-block-2 .views-row h4 {
      margin-left: -22px;
      padding: 20px 30px 6px 30px;
      font-size: 54px !important;
      line-height: 42px !important;
      color: #333;
      margin-bottom: 0px; }
      #block-views-order-block .views-row h4 .dollar-sign, #block-views-order-block-1 .views-row h4 .dollar-sign, #block-views-order-block-2 .views-row h4 .dollar-sign {
        font-size: 22px;
        line-height: 22px;
        top: -14px;
        right: -6px;
        font-family: 'OpenSansLight';
        position: relative; }
    #block-views-order-block .views-row .interval, #block-views-order-block-1 .views-row .interval, #block-views-order-block-2 .views-row .interval {
      color: #999;
      min-height: 38px;
      display: block;
      padding-bottom: 17px; }
    #block-views-order-block .views-row ul, #block-views-order-block-1 .views-row ul, #block-views-order-block-2 .views-row ul {
      padding-left: 10px; }
      #block-views-order-block .views-row ul li, #block-views-order-block-1 .views-row ul li, #block-views-order-block-2 .views-row ul li {
        text-align: left;
        color: #444;
        letter-spacing: -0.5px;
        font-weight: bold; }
    #block-views-order-block .views-row .views-field-field-order-order, #block-views-order-block-1 .views-row .views-field-field-order-order, #block-views-order-block-2 .views-row .views-field-field-order-order {
      height: 90px;
      padding-top: 40px; }
      #block-views-order-block .views-row .views-field-field-order-order a, #block-views-order-block-1 .views-row .views-field-field-order-order a, #block-views-order-block-2 .views-row .views-field-field-order-order a {
        background-color: #333333;
        font-size: 13px;
        padding: 15px 22px;
        text-transform: uppercase;
        border-radius: 5px;
        font-weight: bold;
        color: #fff; }
  #block-views-order-block .views-row-2, #block-views-order-block-1 .views-row-2, #block-views-order-block-2 .views-row-2 {
    border-right: 1px solid #e4e4e4;
    border-left: none;
    margin-top: -20px; }
    #block-views-order-block .views-row-2 h3, #block-views-order-block-1 .views-row-2 h3, #block-views-order-block-2 .views-row-2 h3 {
      background-color: #27CCC0 !important;
      color: #fff;
      padding: 32px 0px;
      margin-top: -20px;
      margin-bottom: 0px !important; }
      #block-views-order-block .views-row-2 h3 .highlight-reason, #block-views-order-block-1 .views-row-2 h3 .highlight-reason, #block-views-order-block-2 .views-row-2 h3 .highlight-reason {
        display: block;
        font-family: 'OpenSansbold';
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        color: rgba(0, 0, 0, 0.4);
        font-weight: bold;
        padding-top: 4px; }
    #block-views-order-block .views-row-2 .views-field-field-order-order a, #block-views-order-block-1 .views-row-2 .views-field-field-order-order a, #block-views-order-block-2 .views-row-2 .views-field-field-order-order a {
      background-color: #ff4629; }
  #block-views-order-block .views-row-3, #block-views-order-block-1 .views-row-3, #block-views-order-block-2 .views-row-3 {
    border-right: 1px solid #e4e4e4;
    border-left: none; }
  #block-views-order-block .view-footer, #block-views-order-block-1 .view-footer, #block-views-order-block-2 .view-footer {
    clear: both;
    margin-top: 30px;
    display: inline-table; }

#block-views-order-block-1 .block-title {
  margin-top: 50px; }

#block-views-order-block-2 .block-title {
  margin-top: 50px; }

body.page-node-44 .page-header {
  display: none; }

#block-quicktabs-tab-libraries {
  background: url("../images/backgroud.png");
  text-align: center; }
  #block-quicktabs-tab-libraries .block-title {
    color: #fff;
    margin-bottom: 70px; }
  #block-quicktabs-tab-libraries ul.quicktabs-tabs {
    margin-bottom: 80px; }
    #block-quicktabs-tab-libraries ul.quicktabs-tabs li:nth-of-type(1), #block-quicktabs-tab-libraries ul.quicktabs-tabs li:nth-of-type(3) {
      padding: 20px 80px;
      background-image: url("../images/buttum-2.png");
      background-repeat: no-repeat; }
    #block-quicktabs-tab-libraries ul.quicktabs-tabs li a {
      color: #fff;
      text-transform: uppercase;
      font-weight: bold; }
  #block-quicktabs-tab-libraries li:nth-of-type(2) {
    padding: 20px 50px;
    background-image: url("../images/buttum-2.png");
    background-repeat: no-repeat; }
  #block-quicktabs-tab-libraries li:nth-of-type(4) {
    padding: 20px 60px;
    background-image: url("../images/buttum-2.png");
    background-repeat: no-repeat; }
  #block-quicktabs-tab-libraries .views-row {
    width: 430px;
    margin: 30px 15px;
    display: inline-table;
    float: left; }
    #block-quicktabs-tab-libraries .views-row .views-field-nothing {
      display: none;
      opacity: 0.8;
      margin-top: -55px; }
      #block-quicktabs-tab-libraries .views-row .views-field-nothing .field-content {
        display: inline-block;
        width: 300px;
        background: black;
        margin: 0px auto;
        padding: 17px; }
      #block-quicktabs-tab-libraries .views-row .views-field-nothing a {
        color: #fff;
        font-weight: bold;
        font-size: 15px;
        padding: 5px 10px;
        margin: 0px 30px;
        background: #0088cc;
        border-radius: 5px;
        text-transform: uppercase; }
    #block-quicktabs-tab-libraries .views-row:hover .views-field-nothing {
      display: block; }

#block-views-archive-views-block-2 {
  text-align: center;
  width: 1200px;
  margin: 0px auto; }
  #block-views-archive-views-block-2 .col-1 .views-field-title-1 {
    width: 300px;
    height: 160px;
    background: url("../images/icon-QTW.png") no-repeat center; }
  #block-views-archive-views-block-2 .col-2 .views-field-title-1 {
    width: 300px;
    height: 160px;
    background: url("../images/icon-thuong-hieu.png") no-repeat center; }
  #block-views-archive-views-block-2 .col-3 .views-field-title-1 {
    width: 300px;
    height: 160px;
    background: url("../images/icon-quang-bá.png") no-repeat center; }
  #block-views-archive-views-block-2 .col-4 .views-field-title-1 {
    width: 300px;
    height: 160px;
    background: url("../images/icon-tkweb.png") no-repeat center; }

#block-views-archive-views-block-1 .views-field-view-node {
  margin-top: -150px;
  position: absolute; }
  #block-views-archive-views-block-1 .views-field-view-node a {
    color: #fff;
    text-transform: uppercase;
    font-size: 23px;
    background: url("../images/buttum-2.png") no-repeat;
    padding: 15px 20px; }
#block-views-archive-views-block-1 .views-slideshow-controls-bottom .views-slideshow-controls-text-previous {
  background: transparent url("../images/icon-back.png") scroll no-repeat top left;
  height: 56px;
  width: 56px;
  float: left;
  line-height: 36px;
  margin-right: 10px; }
  #block-views-archive-views-block-1 .views-slideshow-controls-bottom .views-slideshow-controls-text-previous a {
    color: transparent;
    text-indent: -9999px; }
#block-views-archive-views-block-1 .views-slideshow-controls-bottom .views-slideshow-controls-text-pause {
  display: none; }
#block-views-archive-views-block-1 .views-slideshow-controls-bottom .views-slideshow-controls-text-next {
  background: transparent url("../images/icon-next.png") scroll no-repeat top left;
  height: 56px;
  width: 56px;
  float: left;
  line-height: 36px;
  margin-right: 10px; }
  #block-views-archive-views-block-1 .views-slideshow-controls-bottom .views-slideshow-controls-text-next a {
    color: transparent;
    text-indent: -9999px; }

/*# sourceMappingURL=long.css.map */
